node_modules
.pnpm-store

dist
build
out
.next
coverage

.turbo

*.tsbuildinfo

**/generated/

.env
.env.local
.env.*.local

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
